@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.movie__list {
    padding: 0 3rem 3rem 3rem;
}

.list__title {
font-size: 1.75rem;
margin:  2.5rem;
}

.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}